# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
# indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
max_line_length = 120
trim_trailing_whitespace = true
insert_final_newline = true

[{Makefile,**.mk}]
# 表示幅もEditorconfigで制御したい場合はindent_sizeの設定を加える
indent_size = 4
indent_style = tab
# Note: charset = shift_jis is not supported by EditorConfig standard
# Use .vscode/settings.json to set file encoding for Makefile

[*.md]
max_line_length = 0
trim_trailing_whitespace = false

[*.go]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.json]
indent_style = space
indent_size = 2

# 出力テンプレート: 末尾に空行が入ると行が空くため対策
[/templates/*]
insert_final_newline = false
[/bin/templates/*]
insert_final_newline = false

# YAML files (Taskfile.yml, *.yaml, *.yml)
[*.{yaml,yml}]
indent_style = space
indent_size = 2
